#background img {
   width: 100%;
   height: 150px;
}

#links_list {
   list-style-type: none;
}

#links_list li {
   padding-left: 2px;
   background-color: #AA2299;
   margin-top: 2px;
   margin-bottom: 2px;
}

#links_list li a {
   color: #EEFFEE;
}

#content {
   height: 75%;
   overflow-y: scroll;
}

#comments {
   height: 60%;
   overflow-y: scroll;
}

.comment_row {
   background-color: #CCCCCC;
   margin-bottom: 10px;
}

#comment_form {
   background-color: #CCCCCC;
}
