#autentication {
   float: right;
   margin-right: 10px;
}

#background img {
   width: 100%;
   height: 150px;
}

#links_list {
   list-style-type: none;
}

#links_list li {
   padding-left: 2px;
   background-color: #AA2299;
   margin-top: 2px;
   margin-bottom: 2px;
}

#links_list li a {
   color: #EEFFEE;
}

#news_list {
   height: 75%;
   overflow-y: scroll;
}

#news_list .news_content {
   margin-bottom: 20px; 
}

.user_in {
   display: initial;
}

.user_out {
   display: none;
}
