{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'news/css/content.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'news/css/bootstrap.min.css' %}"/>

<div class="container">
   
   <div id="background">
      <img src="{% static 'news/images/magregator.png' %}">
   </div>

   <div class="row" id="side_and_content">
      {% if all_links %}
      <div class="col-md-3">
         <ul id="links_list">
            {% for link in all_links %}
	       <li><a href="{{ link.link_source}}">{{ link.name_label}}</a></li>
	    {% endfor %}
         </ul>
      </div>
      {% else %}
      <div class="col-md-3">
         {% if user %}
	 <div id="comment_form" class="row">
	    <div class="col-md-3">
               <p id="comment_form_user">{{ user }}</p>
	    </div>
	    <div class="col-md-9">
	       <textarea rows="5" id="comment"></textarea>
            </div>
         </div>
	 <div class="row" style="float: right;">
	    <button id="post_comment" type="button" class="btn btn-link">Објави</button>
         </div>
	 {% endif %}
	 <div id="comments" class="row" style="margin-top: 50px;">
	 {% if comments %}
	    {% for comment in comments %}
	    <div class="comment_row">
	    <div class="row">
	       <div class="col-md-3">
		  <p>{{ comment.comment_user.username }}</p>
	       </div>
	       <div class="col-md-9">
		  <p>{{ comment.comment_text }}</p>
	       </div>
	    </div>
	    <div class="row">
	       <div class="col-md-3"></div>
	       <div class="col-md-9">
	       <div class="row">
               <div class="col-md-3" style="float: left;">
	          <span class="glyphicon glyphicon-thumbs-up"></span>
		  <span>{{ comment.comment_likes }}</span>
	       </div>
	       <div class="col-md-9" style="float: right;">
		  <span>Објавено на: </span>
		  <span>{{ comment.comment_date }}</span>
	       </div>
	       </div>
	       </div>
            </div>
	    </div>
            {% endfor %}	    
	 {% endif %}
	 </div>
      </div>
      {% endif %}

      <div id="content" class="col-md-9">
	 {% autoescape off %}
         {{ content }}
	 {% endautoescape %}
      </div>
   </div>
</div>

<script src="{% static 'news/js/jquery-2.2.3.min.js' %}"></script>
<script src="{% static 'news/js/bootstrap.min.js' %}"></script>
<script src="{% static 'news/js/content.js' %}"></script>
