{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'news/css/index.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'news/css/bootstrap.min.css' %}"/>

<div id="autentication">
   <div id="auth_out" class="user_in">
      <button type="button" class="btn btn-link" data-toggle="modal" data-target="#sign_in_modal">Најава</button>
      <button type="button" class="btn btn-link" data-toggle="modal" data-target="#register_modal">Регистрација</button>
   </div>
   <div id="auth_in" class="user_out">
      <span id="user_message"></span>
      <button type="button" class="btn btn-link" id="btn_logout">Одјава</button>
   </div>
</div>

<div id="sign_in_modal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
	    <h4 class="modal-title">Најава</h4>
         </div>
	 <div class="modal-body">
	    <form role="form" id="form_login">
            {% csrf_token %}
	       <div class="form-group">
	          <label for="username">Корисничко Име:</label>
		  <input class="form-control" id="username" name="username"> 
	       </div>
	       <p id="username_error"></p>
	       <div class="form-group">
		  <label for="password">Лозинка:</label>
		  <input type="password" class="form-control" id="password" name="password">
	       </div>
	       <p id="password_error"></p>
            </form>
         </div>
	 <div class="modal-footer">
            <button type="button" class="btn btn-default" id="sign_user">OK</button>
	    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
         </div>
      </div>
   </div>
</div>


<div id="register_modal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
	    <h4 class="modal-title">Регистрација</h4>
         </div>
	 <div class="modal-body">
	    <form role="form" id="form_register">
	    {% csrf_token %}
	       <div class="form-group">
		  <label for="r_username">Корисничко име:</label>
		  <input class="form-control" name="r_username" id="r_username">
	       </div>
	       <p id="error_message"></p>
	       <div class="form-group">
		  <label for="r_password">Лозинка:</label>
		  <input type="password" class="form-control" name="r_password" id="r_password">
               </div>
	       <div class="form-group">
		  <label for="email">E-mail:</label>
		  <input type="email" class="form-control" name="email" id="email">
	       </div>
	       <div class="form-group">
		  <label for="name">Име:</label>
		  <input class="form-control" name="name" id="name">
	       </div>
	       <div class="form-group">
		  <label for="surname">Презиме:</label>
		  <input class="form-control" name="surname" id="surname">
	       </div>
	    </form>
         </div>
	 <div class="modal-footer">
            <button type="button" class="btn btn-default" id="register_user">Register</button>
	    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
         </div>
      </div>
   </div>
</div>

<div class="container">
   <div id="background">
      <img src="{% static 'news/images/magregator.png' %}" >
   </div>

   <div class="row" id="side_and_news">
      {% if all_links %}
      <div class="col-md-3">
         <ul id="links_list">
         {% for link in all_links %}
            <li><a href="{{ link.link_source }}">{{ link.name_label }}</a></li>
         {% endfor %}
         </ul>
      </div>
      {% else %}
         <p>No polls are available.</p>
      {% endif %}

      <div class="col-md-9" id="news_list">
      {% for q in questions %}
         <div class="news_content">
            <a href="{% url 'get_content' q.news_source.id q.news_link %}" target="_blank" class="title">{{ q.news_title }}</a>
	    <div class="row">
	       <div class="col-md-3">
                  <img src={{ q.news_piclink }} alt="thumb" class="img-responsive">
	       </div>
	       <div class="col-md-9">
	          {{ q.news_abstract }}
	       </div>
            </div>
	    <span>{{ q.news_date }}</span>
         </div>
      {% endfor %}
      </div>
   </div>
</div>

<script src="{% static 'news/js/jquery-2.2.3.min.js' %}"></script>
<script src="{% static 'news/js/bootstrap.min.js' %}"></script>
<script src="{% static 'news/js/index.js' %}"></script>
